@import "src/variables.scss";

.order-details-wrapper {
  display: flex;
  justify-content: space-between;
}

.one-ticket {
  flex-basis: 100%;
}

.two-tickets {
  flex-basis: 48%;
}

.order-details {
  width: 95%;
  min-height: 350px;
  max-height: 400px;
  margin: 0 auto 30px;
  padding: 15px 20px;
  border-radius: 3px;
  background-color: $orderDetailsBackground;
  box-shadow: $boxShadow;

  &__header {
    padding: 10px 0 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
  }

  &__icon {
    margin-right: 10px;
    color: $checkIconColor;
  }

  &__flight {
    padding-bottom: 15px;
    border-bottom: 2px dotted $orderDetailsDividerColor;
  }

  &__passengers {
    padding-bottom: 10px;
    border-bottom: 2px dotted $orderDetailsDividerColor;
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 2px dotted $orderDetailsDividerColor;
    color: $priceColor;
    font-size: 1.7em;
    font-weight: 500;
  }
}

.button-confirm {
  margin-top: 20px;
}

.flight-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__direction {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 500;
  }
  &__time {
    color: $secondaryTextColor;
    font-size: 0.8em;
  }
  &__date {
    width: 7%;
    padding: 7px;
    margin-right: 20px;
    border: 2px solid $dateBorderColor;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
  }
}

.about-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  font-size: 0.8em;

  &__amount {
    width: 50px;
    text-align: right;
    color: $priceColor;
    font-weight: 500;
  }
}

.passengers-info {
  margin-bottom: 10px;

  &__about {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: $boxShadow;
  }
  &__name {
    font-weight: 500;
    font-size: 1em;
  }
}

@media only screen and (max-width: $tabletSize) {
  .order-details {
    width: 60%;
  }
}

@media screen and (max-width: $mobileSize) {
  .order-details {
    width: 75%;
  }
  .order-details-wrapper {
    flex-direction: column;
  }
}

.select_seats {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  margin-left: 20px;
}

.flight-info_seats {
  margin: 5px;
  font-size: 1.2em;
  font-weight: 500;
}

.button.confirm {
  margin: 15px;
}
