@import "src/variables.scss";

.passengers-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expandable-panel {
  width: 55%;
  margin: 0 auto;
  border: 1px solid $borderColor;
  box-shadow: $boxShadow;
  border-bottom: 2px solid $passengersListBorderColor;
}

@media screen and (max-width: $tabletSize) {
  .expandable-panel {
    width: 85%;
  }
}

@media screen and (max-width: $mobileSize) {
  .expandable-panel {
    width: 85%;
  }
}

.passenger_list_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buttons.price {
  width: 200px;
  margin-top: 40px;
}
