*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

.plane {
  margin: 0;
  max-width: 230px;
  transform: rotate(270deg);
}

.cockpit {
  height: 245px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    border-radius: 50%;
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  h1 {
    width: 60%;
    margin: 100px auto 35px auto;
  }
}

.cockpit h1 {
  transform: rotate(90deg);
}

.label {
  transform: rotate(90deg);
}

.row-plane {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 20px;
}

.exit {
  position: relative;
  height: 50px;
  &:before,
  &:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

.cabin {
  display: flex;
  justify-content: space-between;
}

.seat {
  display: flex;
  padding: 2px;
  position: relative;
  width: 27.95px;
  height: 40px;
  margin: 4px 2px;

  .label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    background-image: url("./images/availabelSeats.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .label-reserved {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    animation-duration: 300ms;
    animation-fill-mode: both;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    transform: rotate(90deg);
    background-image: url("./images/chosenSeats.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

.plane_seats_svg {
  display: flex;
  background-image: url("./images/plane.svg");
  background-position-y: center;
  padding-left: 300px;
  padding-bottom: 5px;
  flex-grow: 15;
}

.plane_svg {
  transform: rotate(270deg);
}

.reserved_main_page {
  display: flex;
  flex-direction: row;
}

.tickets_info {
  flex-grow: 1;
  background-color: #cbdeeb;
  opacity: 0.9;
  padding-top: 20px;
}

.availabel {
  background-image: url("./images/availabelSeats.svg");
  height: 40px;
  min-width: 40px;
  margin-right: 12px;
  margin-left: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.unavailable {
  background-image: url("./images/unavailabelSeats.svg");
  height: 40px;
  min-width: 40px;
  margin-right: 12px;
  margin-left: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.assigned {
  background-image: url("./images/chosenSeats.svg");
  height: 40px;
  min-width: 40px;
  margin-right: 12px;
  margin-left: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.seatsel-pane__seats {
  height: 200px;
  width: 200px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 8%;
  left: 50%;
}
