$mobileSize: 600px;
$tabletSize: 960px;
$desktopSize: 1280px;

$lightgray: lightgray;
$borderColor: rgb(211, 211, 211);

$overlayBackgroundColor: rgba(44, 34, 34, 0.5);
$cardBackgroundColor: rgb(203, 222, 235);
$ticketsBackgroundColor: rgb(255, 255, 255);
$seatsRowBackgroundColor: rgb(36, 79, 95);
$tooltipBackgroundColor: rgb(0, 0, 0);
$overlayBackgroundColor: rgba(44, 34, 34, 0.5);
$sidebarBackgroundColor: rgb(255, 255, 255);
$orderDetailsDividerColor: rgb(128, 128, 128);
$orderDetailsBackground: rgb(255, 255, 255);
$dateBorderColor: rgb(225, 225, 225);
$secondaryTextColor: rgb(128, 128, 128);
$checkIconColor: rgb(20, 184, 20);
$priceColor: rgb(0, 0, 139);
$selectedFlightBackgroundColor: rgb(247, 247, 247);
$primaryTextInvertColor: rgb(255, 255, 255);
$ticketPlaneAnimationColor: rgb(128, 128, 128);
$passengersListBorderColor: gray;
$luggageListBackgroundColor: rgb(255, 255, 255);
$flightListHeaderBackground: rgba(255, 255, 255, 0.8);

$textWhiteColor: rgb(255, 255, 255);
$textBlackColor: rgb(0, 0, 0);

$buttonHoverColor: rgba(0, 0, 0, 0.08);
$primaryMaterial: #3f51b5;
$primaryMaterialHover: #808294;
$defaultMaterialHover: rgb(231, 231, 231);

$boxShadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
$buttonShadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);

$fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;