@import 'src/variables.scss';

@media only screen and (min-width: $mobileSize) {
  .flights-list-item__price {
    display: flex;
    align-items: center;
    padding-left: 35px;
  }
}

@media only screen and (max-width: $mobileSize) {
  .flights-list-item {
    flex-direction: column;

    &__price {
      margin: 10px 0;
    }
  }
}

.flights-list-item {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
  width: 100%;
  padding: 15px 15px;
  border: 1px solid $borderColor;
  background-color: $cardBackgroundColor;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.price-link {
  padding: 10px 15px;
  border-radius: 5px;
  color: $textWhiteColor;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $fontFamily;
  font-size: 1rem;
  background-color: $primaryMaterial;

  &:hover {
    background-color: $primaryMaterialHover;
  }
}

@-webkit-keyframes sidearrowDesktop {
  0% {
    transform: translateX(220px);
    color: transparent;
  }
  50% {
    color: $ticketPlaneAnimationColor;
  }
  100% {
    transform: translateX(-220px);
    color: transparent;
  }
}

@-webkit-keyframes sidearrowTablet {
  0% {
    transform: translateX(100px);
    color: transparent;
  }
  50% {
    color: $ticketPlaneAnimationColor;
  }
  100% {
    transform: translateX(-80px);
    color: transparent;
  }
}

@-webkit-keyframes sidearrowMobile {
  0% {
    transform: translateX(20px);
    color: transparent;
  }
  50% {
    color: $ticketPlaneAnimationColor;
  }
  100% {
    transform: translateX(-15px);
    color: transparent;
  }
}

.fa-arrow {
  animation: sidearrowDesktop 4.5s infinite reverse ease-in-out;
}

@media only screen and (max-width: $tabletSize) {
  .flights-list-item {
    width: 620px;
  }
  .flights-list__header {
    width: 620px;
  }
  .fa-arrow {
    animation: sidearrowTablet 3.5s infinite reverse ease-in-out;
  }
}

@media only screen and (max-width: $mobileSize) {
  .flights-list-item,
  .flights-list__header {
    flex-direction: column;
    width: 260px;

    &__info {
      margin: 0 0 10px 0;
    }
  }

  .flight {
    &__time {
      margin-bottom: 5px;
      font-size: 35px;
      font-weight: 300;
    }
  }

  .price-link {
    width: 260px;
    height: 35px;
    margin: 10px 0 0 0;
    font-size: 1rem;
    line-height: 100%;
  }
  .fa-arrow {
    animation: sidearrowMobile 2.5s infinite reverse ease-in-out;
  }
}

.info_price {
  display: flex;
  flex-direction: column;
}

.card-buttons.price {
  min-width: 150px;
}
